#profile-picture-style {
    border-radius: 450px;    
    width: 250px;
    border: 2px solid black;
    margin: 5px;

}

#my-div-container {
    text-align: center;
}

body {
    background-color: rgb(97, 81, 160)
}

#about-me-div {

    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(209, 238, 238);
}

h2 {
    text-align: center;
}

#footer-style {
    background-color: rgb(55, 55, 110);
    max-width: 100%;
}

#title {
    font-weight: 700;
    font-size: larger;
}

body{
    color: white;
}

#copyright-style {
    color: blue;
    background-color: rgb(219, 193, 243);
}

#linkedIn-icon{
    background-color: white;
    border-radius: 5px;
}

#github-icon{
    background-color: white;
    border-radius: 15px;
}

.to-hover-principal:hover {    
    color: rgb(164, 94, 221);
}

.to-hover-secondary:hover {    
    color: rgb(193, 148, 230);
}

.portfolio-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px
}

.portfolio-card figure{
    position: relative;
    max-height: 400px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;
}

.portfolio-card figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.portfolio-card figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 90, 123, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    background-size: contain;
}

.portfolio-card figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}